<div>
  <h1>Edit Client</h1>
<mat-form-field>
  <input matInput name="first_name" [(ngModel)]="this.first_name" value="">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="First Name" name="last_name" [(ngModel)]="this.last_name" value="">
</mat-form-field>

<mat-form-field>
  <input matInput name="phone" [(ngModel)]="this.phone" value="">
</mat-form-field>

<button type="button" mat-icon-button (click)="updateClient(client)" onClick="window.location.reload()" value="Update">
  <mat-icon>update</mat-icon>
</button>
</div>
