<h1>Lunch Menu</h1>
<form class="example-form" class="flex-container"  >
  <md-form-field class="example-full-width" >
    <input mdInput placeholder="First Name" value="">
  </md-form-field>
   <div  fxFlex="5%" >  </div>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Favorite food" value="">
  </md-form-field>
</form>
<button type="button" md-icon-button (click)="sidenav.open()">
  <md-icon>save</md-icon>
</button>
<md-checkbox>Check me!</md-checkbox>
<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>

<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="2" rowHeight="1:1">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shin Uchiha</md-card-title>
        <md-card-subtitle>Drop</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shin Uchiha</md-card-title>
        <md-card-subtitle>Drop</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shin Uchiha</md-card-title>
        <md-card-subtitle>Drop</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shin Uchiha</md-card-title>
        <md-card-subtitle>Drop</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="./assets/images/volcano.jpg" alt="Photo of a Shiba Inu">
      <md-card-content>
        <p>
        Welcome to the thunder dome
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
