<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container" fullscreen>
<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Iron Man </span>
  <span class="drop-down-menu"></span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
    </button>
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>

  <mat-sidenav #sidenav class="example-sidenav">
    <h3 mat-subheader>Blaze</h3>
    <mat-list>
      <mat-list-item><mat-icon>event</mat-icon><a routerLink="/lunch" mat-button> Lunch </a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon>event</mat-icon><a routerLink="/client" mat-button> Client </a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon>event</mat-icon><a routerLink="/user" mat-button> User </a></mat-list-item>
    </mat-list>
  </mat-sidenav>

<router-outlet></router-outlet>


</mat-sidenav-container>
