h1 {
  color: #000;
}
* {
margin-top: 0.5em;
margin-left: 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container {
  width: 100%;
}

.example-card {
  width: 400px;
}

.card-header{
  font-size: 25px;
  font-weight: bold;
}

.card-buttons{
  float: right;
}

.addClient{
  float:right;
  margin-right: 5%;
}
